body {
    margin: 0;
   	background-image: url("marguerite-729510.jpg");
	background-size: 100% 100%;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

body {
    margin: 0;
   	background-image: url("marguerite-729510.jpg");
	background-size: 100% 100%;
}

